@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section style */

.header {
    background-image: url('../images/new-year-banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    width: 1200px;
    border-radius: 16px;
    margin: 50px auto;
    position: relative;

}

.new-year-section {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.header .new-year-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header .happy-para {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;

}

.header .happy-heading {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;

}

/* main section style */
.main-section {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.all-category {
    width: 700px;
    margin: 100px auto;
}

.off65 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.category-para {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.all-cate-heading {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.category-image img {
    width: 100%;
}

.mid-night-party-section {
    height: 580px;
    width: 1200px;
    background-image: url("../images/vector.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    position: relative;
    margin-bottom: 100px;
}

.mid-night-party-back {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
}

.mid-night-party-text {
    width: 600px;
    position: absolute;
    top: 130px;
    left: 100px;
}

.mid-night-party-image {
    width: 600px;
    position: absolute;
    top: 50px;
    left: 780px;
}

.mid-night-party-text * {
    margin-bottom: 20px;
}

.mid-night-party-heading {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.mid-night-party-para {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.mid-night-party-button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: transparent;
    border: none;

}

.new-park-hotel-section {
    height: 450px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    position: relative;

}

.new-park-hotel-text-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.new-park-hotel-para {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.red-text {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.new-park-hotel-button {
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
}

.coming-soon-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
    margin-top: 100px;
    background: #FFF;
    margin-top: 100px;

}

.coming-soon-chind {

    width: 32%;


}


.coming-soon-image {
    padding: 25px;
    border-radius: 50%;
    border: 12px solid #F00;

}

.coming-soon-image img {
    width: 100%;

}

.best-offer {
    color: #F00;
    /* text-align: center; */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
}

.coming-soon-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.coming-soon-para {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

}

.new-year-2024 {
    color: #F00;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.new-year-para {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 15px;

}

.new-year-small-image {
    width: 140px;
    height: 140px;
}




.our-portfolio-section {
    margin-top: 100px;
}

.our-portfolio-section-text {
    width: 700px;
}

.portfolio-para {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 15px;

}

.portfolio-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.portfolio-small-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;


}

.portfolio-image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single-image {
    width: 30%;
    margin-bottom: 20px;

}

.single-image img {
    width: 100%;
}

.newsletter-section {
    margin-top: 100px;
    height: 500px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    position: relative;
}

.newsletter-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.newsletter-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 15px;
}

.newsletter-para {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 25px;
}

.news-email {
    padding: 15px;
    width: 300px;
    /* font-size: 15px; */
    border: none;
}

.subscribe {
    padding: 14px 25px;
    margin-left: -5px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}

.footer-section {
    height: 500px;
    background: #070211;
    margin-top: 100px;
    padding: 80px 0px;
    color: white;
}

.footer-container {
    width: 1200px;
    margin: 0 auto;
}

.text-info-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact {
    margin-bottom: 50px;
}

.social-media-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 0px;

}

.footer-bottom-section-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.footer-para {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10px;

}

.copy {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  
}